ul {
  display: flex;
  padding: 0;
}

.abc {
  width: 100vw;
  height: 100vh;
}

.detail_backgroundImage {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: -99;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px);
}

.detail_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.detail_movie {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  width: 600px;
  padding: 40px;
  border-radius: 15px;
}

.detail_movie_poster {
  display: block;
  width: 120px;
  height: 180px;
  box-shadow: 0px 6px 14px 5px rgba(142, 142, 142, 0.4);
}

.detail_movie_data {
  width: 70%;
  margin-left: 20px;
}

.detail_movie_title {
  font-size: 17px;
}

.detail_movie_year,
.detail_movie_genres {
  font-size: 13px;
}

.detail_movie_year,
.detail_movie_genres,
.detail_movie_summary {
  color: gray;
}

.detail_movie_year {
  font-weight: 400;
}

.detail_movie_genres {
  margin-bottom: 10px;
}

.detail_movie_summary {
  font-size: 15px;
}
