@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

#root {
  width: 100vw;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/****/

.loader {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_text {
  font-size: 18px;
}

/****/

.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: inherit;
  padding: 90px 0 70px 0;
}

.movieContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: whitesmoke;
  max-width: 500px;
  max-height: 600px;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 11px 11px 22px #e1e1e1, -11px -11px 22px #ffffff;
}

.movie {
  display: flex;
}

.movie_poster {
  display: block;
  flex-shrink: 0;
  position: relative;
  top: -40px;
  width: 100px;
  height: 150px;
  box-shadow: 0px 6px 14px 5px rgba(142, 142, 142, 0.4);
}

.infoMenu {
  position: absolute;
  top: 5%;
  right: 5%;
  color: #e5e4e2;
  font-size: 20px;
}

.movie_data {
  margin-left: 20px;
}

.movie_title {
  line-height: 1.1;
  font-size: 18px;
  color: #5c5b57;
}

.movie_year {
  font-weight: 400;
}

.movie_genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0;
}

.movie_genres > li:not(:last-of-type) {
  margin-right: 10px;
}

.movie_year,
.genres_genre {
  font-size: 11px;
}

.movie_summary,
.movie_year,
.movie_genres {
  color: #aaa69d;
}

.movie_summary {
  display: inline-block;
  font-size: 13px;
}

.overflowHidden {
  height: 80px;
  overflow: hidden;
}

.summary_showMore {
  background-color: #e5e4e2;
  margin-left: 7px;
  width: 30px;
  border-radius: 8px;
  font-size: 11px;
  color: white;
}

.movieUsersContainer {
  margin-top: 20px;
  width: 95%;
  border-top: solid 1px #eeede8;
}

.movieUsers {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.users_image {
  display: flex;
  margin-right: 5px;
  padding: 0;
  width: 80px;
}

.userImg {
  display: block;
  background-color: white;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 15px;
  border: solid 2px white;
}

.secondUserImg {
  position: relative;
  left: -5px;
}

.thirdUserImg {
  position: relative;
  left: -10px;
}

.userWatching {
  margin-right: 10px;
  color: #aaa69d;
  font-size: 11px;
}

.recommend {
  display: flex;
  align-items: center;
  position: relative;
  right: 0;
  height: fit-content;
}

.recommendButton {
  display: block;
  margin-right: 3px;
  padding: 0;
  color: rgb(176, 193, 212);
  font-size: 18px;
  text-shadow: 2px 3px 5px rgba(157, 185, 206, 0.68);
}

.recommendCount {
  display: block;
  color: rgb(176, 193, 212);
  font-size: 11px;
}

/**In desktop**/

.movies {
  max-width: 1240px;
  justify-content: space-around;
}

.movie:last-of-type,
.movie:nth-of-type(19) {
  margin-bottom: 0;
}

/**other devices**/

@media screen and (max-width: 1016px) {
  .movies {
    justify-content: center;
  }

  .movie:nth-of-type(19) {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 540px) {
  .movie {
    width: 80%;
  }

  .movie_poster {
    width: 80px;
    height: 120px;
  }

  .movieUsers {
    flex-direction: column;
  }

  .users_image {
    margin-bottom: 5px;
  }

  .users_image,
  .userWatching {
    margin-right: 0;
  }

  .userWatching {
    text-align: center;
  }

  .recommend {
    margin-top: 5px;
  }
}
